/* Og panels */
.visual-refresh [class^="panels_"] {
    bottom: 0px;
    left: 72px;
    width: calc(100% - 72px);
    border-radius: 0px;
    background-color: var(--background-secondary);
    >[class^="container_"] {
        padding: 0px;
        margin: 0 8px;
        height: 57px;
    }
}
.visual-refresh [class^="sidebar_"] > [class*="guilds_"] {
    margin-bottom: 0px;
}

                              
/* Idk weird thingies */
:where(.visual-refresh) .dot__9293f{
    display: none;
}
.visual-refresh .sidebarListRounded_c48ade{
    border-top-left-radius: 0;
}

                              
/* Remove the top part */
.visual-refresh {
    div[class^="subtitleContainer_"],
    main[class^="container__"] section[class*="container__"] {
        width: calc(100% - 162px);
    }
    }

    div[class^="base_"] {
        &:has(div[class^="bar_"] > div[class^="trailing_"] > *:nth-child(3)) {
            & div[class^="subtitleContainer_"],
            & main[class^="container__"] section[class*="container__"] {
                width: calc(100% - 2px);
            }
        }

        & > div[class^="bar_"] {
            position: absolute;
            right: 0px;
            padding-left: 0;
        }

        & div[class^="trailing_"] {
            background: var(--background-base-lowest);
            height: 20px;
        }
}

/* Og channel icons */
.visual-refresh .guildIcon__48112[style]{
    --custom-guild-icon-size: calc(var(--guildbar-folder-size) / 2 - var(--space-8) / 2 - 0px);
    border-radius: 10px !important;
}
.visual-refresh .closedFolderIconWrapper__48112{
    gap: 0;
    border-radius: 0;
}
