/* Right Aligned Messages */
/* Made by @sad4whatt on discord */
/* Reminder, you need the ThemeAttributes plugin for this to work!! */

[data-is-self="true"] .messageListItem__5126c{
    max-width: 60%
    left: 29%;
}
[data-is-self="true"] .container_b7e1cb > *{
    display: flex;
    justify-content: flex-end;
}
[data-is-self="true"] .zalgo_c19a55.cozy_c19a55 .header_c19a55{
    display: flex;
    direction: rtl;
}
[data-is-self="true"] .cozy_c19a55 .messageContent_c19a55{
    text-align: right
}
[data-is-self="true"] .avatar_c19a55.clickable_c19a55{
    left: 94%;
}
[data-is-self="true"] .avatarDecoration_c19a55{
    left: 93.4%
}
[data-is-self="true"] .blockquoteDivider__75297{
    display: flex;
    flex-direction: row-reverse;
}
[data-is-self="true"] .cozy_c19a55 .repliedMessage_c19a55{
    margin-left: 40%;
}
[data-is-self="true"] .cozy_c19a55 .repliedMessageClickableSpine_c19a55{
    transform: scaleX(-1);
    right: -40px;
    left: 102%;
    bottom: 4px;
}
[data-is-self="true"] .markup__75297 .codeContainer__75297{
    left: 50px;
}
[data-is-self="true"] .popoverReactionHoverBar_f84418{
    bottom: 20px;
}
